<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuaHangSach.Properties.Settings.QUANLYHIEUSACHConnectionString"
            connectionString="Data Source=ANHMINH-PC;Initial Catalog=QUANLYHIEUSACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>